@charset "utf-8";
/* CSS Document */

	* {
				margin: 0;
				padding: 0;
			}
			
			#drag-1, #drag-2,#drag-3,#drag-4,#drag-5,#drag-6{
				  -webkit-transform: translate(0px, 0px);
          			transform: translate(0px, 0px);
			}
			#drag-me::before {
 				 content: "#" attr(id);
				 font-weight: bold;
}
			h1 {
				margin: 1em 0;
				text-align: center;
				font-size: 3em;
				font-family: 'Permanent Marker', cursive;
				text-shadow: 2px 2px 2px #6B6B6B;
			}
			h2 {
				
			}
			.yellow {
				color: rgba(240,193,9,1);
			}
			.green {
				color: rgba(176,230,66,1);
			}
			.blue {
				color: rgba(42,192,240,1);
			}
			.pink {
				color: rgba(233,100,165,1);
			}
			.postit_container {
				background-color: #DFDFDF;
				background-image: url("https://www.transparenttextures.com/patterns/grunge-wall.png");
				box-shadow: 4px 4px 10px #8F8F8F;
				display: flex;

				flex-wrap: wrap;
				max-width: 1280px;
				margin: 0 20px 20px;
				justify-content: space-around;

			}
@media only screen and (min-width:1280px) {
	.postit_container {
		max-width: 1280px;
		margin: 0 auto;
	}

}

			.postit {
				color: rgba(0,0,0,0.80);
				font-family: 'Indie Flower', cursive;
				margin: 20px;
				width: 250px;
				height: 250px;
				transform: rotate(0deg);
				padding: 10px 15px 15px 15px;
				border-bottom-right-radius: 60px 5px ;
				box-shadow: 0px 4px 5px -4px black;
				
				background: rgba(240,193,9,1);
				background: -moz-linear-gradient(top, rgba(240,193,9,1) 0%, rgba(240,193,9,1) 11%, rgba(255,207,21,1) 16%, rgba(254,231,119,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(240,193,9,1)), color-stop(11%, rgba(240,193,9,1)), color-stop(16%, rgba(255,207,21,1)), color-stop(100%, rgba(254,231,119,1)));
				background: -webkit-linear-gradient(top, rgba(240,193,9,1) 0%, rgba(240,193,9,1) 11%, rgba(255,207,21,1) 16%, rgba(254,231,119,1) 100%);
				background: -o-linear-gradient(top, rgba(240,193,9,1) 0%, rgba(240,193,9,1) 11%, rgba(255,207,21,1) 16%, rgba(254,231,119,1) 100%);
				background: -ms-linear-gradient(top, rgba(240,193,9,1) 0%, rgba(240,193,9,1) 11%, rgba(255,207,21,1) 16%, rgba(254,231,119,1) 100%);
				background: linear-gradient(to bottom, rgba(240,193,9,1) 0%, rgba(240,193,9,1) 11%, rgba(255,207,21,1) 16%, rgba(254,231,119,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0c109', endColorstr='#fee777', GradientType=0 );
			}
			
			.postit:nth-child(2), .postit:nth-child(5){
				transform: rotate(0deg);
				background: rgba(176,230,66,1);
				background: -moz-linear-gradient(top, rgba(176,230,66,1) 0%, rgba(176,230,66,1) 11%, rgba(180,251,32,1) 16%, rgba(208,253,126,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(176,230,66,1)), color-stop(11%, rgba(176,230,66,1)), color-stop(16%, rgba(180,251,32,1)), color-stop(100%, rgba(208,253,126,1)));
				background: -webkit-linear-gradient(top, rgba(176,230,66,1) 0%, rgba(176,230,66,1) 11%, rgba(180,251,32,1) 16%, rgba(208,253,126,1) 100%);
				background: -o-linear-gradient(top, rgba(176,230,66,1) 0%, rgba(176,230,66,1) 11%, rgba(180,251,32,1) 16%, rgba(208,253,126,1) 100%);
				background: -ms-linear-gradient(top, rgba(176,230,66,1) 0%, rgba(176,230,66,1) 11%, rgba(180,251,32,1) 16%, rgba(208,253,126,1) 100%);
				background: linear-gradient(to bottom, rgba(176,230,66,1) 0%, rgba(176,230,66,1) 11%, rgba(180,251,32,1) 16%, rgba(208,253,126,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0e642', endColorstr='#d0fd7e', GradientType=0 );
					
			}
			
			.postit:nth-child(3), .postit:nth-child(6){
				transform: rotate(0deg);
				background: rgba(233,100,165,1);
				background: -moz-linear-gradient(top, rgba(233,100,165,1) 0%, rgba(233,100,165,1) 11%, rgba(248,112,178,1) 15%, rgba(249,164,206,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(233,100,165,1)), color-stop(11%, rgba(233,100,165,1)), color-stop(15%, rgba(248,112,178,1)), color-stop(100%, rgba(249,164,206,1)));
				background: -webkit-linear-gradient(top, rgba(233,100,165,1) 0%, rgba(233,100,165,1) 11%, rgba(248,112,178,1) 15%, rgba(249,164,206,1) 100%);
				background: -o-linear-gradient(top, rgba(233,100,165,1) 0%, rgba(233,100,165,1) 11%, rgba(248,112,178,1) 15%, rgba(249,164,206,1) 100%);
				background: -ms-linear-gradient(top, rgba(233,100,165,1) 0%, rgba(233,100,165,1) 11%, rgba(248,112,178,1) 15%, rgba(249,164,206,1) 100%);
				background: linear-gradient(to bottom, rgba(233,100,165,1) 0%, rgba(233,100,165,1) 11%, rgba(248,112,178,1) 15%, rgba(249,164,206,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e964a5', endColorstr='#f9a4ce', GradientType=0 );
			}
			
			.postit:nth-child(4), .postit:nth-child(7){
				transform: rotate(0deg);
				background: rgba(42,192,240,1);
				background: -moz-linear-gradient(top, rgba(42,192,240,1) 0%, rgba(42,192,240,1) 11%, rgba(54,208,255,1) 15%, rgba(146,230,254,1) 100%);
				background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(42,192,240,1)), color-stop(11%, rgba(42,192,240,1)), color-stop(15%, rgba(54,208,255,1)), color-stop(100%, rgba(146,230,254,1)));
				background: -webkit-linear-gradient(top, rgba(42,192,240,1) 0%, rgba(42,192,240,1) 11%, rgba(54,208,255,1) 15%, rgba(146,230,254,1) 100%);
				background: -o-linear-gradient(top, rgba(42,192,240,1) 0%, rgba(42,192,240,1) 11%, rgba(54,208,255,1) 15%, rgba(146,230,254,1) 100%);
				background: -ms-linear-gradient(top, rgba(42,192,240,1) 0%, rgba(42,192,240,1) 11%, rgba(54,208,255,1) 15%, rgba(146,230,254,1) 100%);
				background: linear-gradient(to bottom, rgba(42,192,240,1) 0%, rgba(42,192,240,1) 11%, rgba(54,208,255,1) 15%, rgba(146,230,254,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ac0f0', endColorstr='#92e6fe', GradientType=0 );
			}
			
			.postit:nth-child(5){
				transform: rotate(-4deg);
			}
			
			.postit:nth-child(6){
				transform: rotate(0deg);
				
			}
			
			time {
				text-align: right;
				display: block;
				margin-bottom: 0.5em;
			}
			
			h2 {
				margin-bottom: 0.5em;
			}
			p {
				margin-bottom: 1em;
			}
			.name {
				padding: 0 15px;
				bottom: 0;
				right: 0;
				position: absolute;
				
			}
			ul {
				padding-left: 20px
			}